.header {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #0070f3;
}
